.btn {
  padding: .5em 1em;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.25rem;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: bold;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms ease;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 0.25rem;
  background-color: var(--background);
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn:hover {
  color: #e8e8e8;
}

.btn:hover::before {
  width: 100%;
}

.background {
  background-color: var(--purple);
  color: var(--background);
  border: 2px solid var(--purple);
}

.background:hover {
  background-color: var(--background);
  border: 2px solid var(--purple);
  color: var(--purple);
}

.btn.no-background::before {
  background-color: var(--purple);
}

.no-background {
  background-color: var(--background);
  border: 2px solid var(--purple);
  color: var(--purple);
}

.no-background:hover {
  background-color: var(--purple);
  color: var(--background);
}

@media screen and (max-width: 800px) {
  .btn {
    padding: 0.75em 1.5rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .btn {
    padding: 0.5em 1.5rem;
    font-size: .9rem;
  }
}
