.card{
    margin: 2rem 0;
    padding: 0 1rem;
    width: 23%;
    height: 22rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 9px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 9px -9px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 9px -9px rgba(66, 68, 90, 1);
}

.card:hover{
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 33px -14px rgba(143, 143, 157, 1);
    -moz-box-shadow: 0px 15px 33px -14px rgba(143, 143, 157, 1);
    box-shadow: 0px 15px 33px -14px rgba(143, 143, 157, 1);
}
.icon{
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
}
.card-title{
    text-align: center;
    font-size: 1.875rem;
    color: var(--dark);
}
.card-description{
    text-align: center;
    color: var(--light-gray);
    margin: 1.250rem 0;
}

@media screen and (max-width:1200px){
    .card{
        width:48%;
        height: auto;
        margin: 1rem 0;
    }

    .card-title{
        font-size: 1.625rem;
    }
    .card-description{
        max-width: 400px;
        font-size: 0.875rem;
    }
}

@media screen and (max-width:950px) and (min-height: 900px){
    .card{
        margin: 0.75rem 0;
    }
}


@media screen and (max-width:800px) {
    .card{
        margin: 1rem 0;
        padding: 0 1.5rem;
    }
    .icon{
        width: 5rem;
        height: 5rem;
    }
    .card-title{
        font-size: 1.5rem;
    }
    .card-description{
        margin: 1rem auto;
    }
}

@media screen and (max-width:500px) {
    .card{
        margin: 0.75rem 0;
        padding: 0 1rem;
    }
    .icon{
        width: 4rem;
        height: 4rem;
    }
    .card-title{
        font-size: 1.125rem;
    }
    .card-description{
        margin: 1rem auto;
        font-size: 0.75rem;
    }
}


@media screen and (max-width: 400px) {
    .card{
        width: 90%;
        margin: 0.75rem 0;
    }

    .card-description{
        max-width: 220px;
    }
}