.landing__box{
    height: 94vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.landing-context{
    position: absolute;
    left: 2%;
    top: 14%;
    display: flex;
    flex-direction: column;
}

.landing-title{
    margin-bottom: 0.5em;
}

.landing-title h1{
    font-size: 4rem;
    color: var(--dark);
}

.heading-pink{
    color:var(--pink)
}

.landing-title h2{
    font-size: 2rem;
    color: var(--dark);
}

.landing-text{
    color:var(--light-gray);
    margin: 1em 0;
    font-size: 1.5rem;
}

.landing-action{
    margin-top: 0.5em;
}

.landing__image--wrapper{
    width: 54%;
    margin-right: 1%;
    margin-top: 1%;
    background-image: url(/src/assets/homepage/hp.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

#landing .btn{
    margin: 0 1rem 1rem 0;
}

 /* MOBILE LOOK */

@media screen and (max-width: 1024px) {
    .landing__image--wrapper{
        width: 48%;
        background-position: right center;
    }

    .landing-context{
        top: 16%;
        left: 3%;
    }

    .landing-title h1{
        font-size: 3.5rem;
    }

    .landing-text{
        font-size: 1.250rem;
    }
}

@media screen and (max-width:900px) {
    .landing-context{
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .landing__image--wrapper{
        width: 95%;
        height: 54%;
        background-position: bottom center;
        margin: 0;
    }

    .landing__box{
        flex-direction: column;
        height: 92vh;
        align-items: center;
    }
   
    .landing-title h1{
        font-size: 2.5rem;
    }

    .landing-title h2{
        font-size: 1.75rem;
    }

    .landing-text{
        font-size: 1.25rem;
        margin: 0.85em 0;
    }

    #landing .btn {
        margin-right: 0.75rem;
    }
}

@media screen and (max-width:900px) and (min-height: 900px){
    .landing-action{
        display: flex;
        flex-direction: column;
    }

    #landing .btn {
        margin-right: 0;
    }
}

@media screen and (min-width:900px) and (min-height: 1100px){
    .landing-action{
        display: flex;
        flex-direction: column;
    }

    .landing-context{
        top: 5%;
        left: 50%;
        transform: translate(-50%);
        align-items: center;
        text-align: center;
        width: 90%;
    }

    .landing__image--wrapper{
        width: 95%;
        height: 54%;
        background-position: bottom center;
        margin: 0;
    }

    .landing__box{
        flex-direction: column;
        height: 94vh;
        align-items: center;
    }

    #landing .btn {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px){
    .landing-title h1{
        font-size: 2rem;
    }
    .landing-title h2{
        font-size: 1.5rem;
    }
    .landing-text{
        font-size: 1rem;
    }
    .landing-image{
        padding:0rem 4rem;
    }
    #landing .btn {
        margin-right: 0.75rem;
    }
}

@media screen and (max-width:500px) and (min-height: 770px) {
    .landing-action{
        display: flex;
        flex-direction: column;
    }

    #landing .btn {
        margin-right: 0;
    }
}

@media screen and (max-width:320px){
    .landing-action{
        display: flex;
        flex-direction: column;
    }

    .landing-context{
        top: 2%;
    }

    .landing-text{
        font-size: 0.85rem;
    }

    .landing__image--wrapper{
        height: 45%;
    }

    #landing .btn {
        margin-right: 0;
    }
}