#landing{
    height: 94vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.landing-content{
    display: flex;
    position: absolute;
    z-index: 20;
    flex-direction: column;
    padding: 8rem 2rem ;
    height: 100%;
}
.landing-title{
    margin-bottom: 0.5em;
}
.landing-title h1{
    font-size: 4rem;
    width: 80%;
    color: var(--dark);
}

.heading-pink{
    color:var(--pink)
}

.landing-title h2{
    font-size: 2rem;
    color: var(--dark);
}

.landing-text{
    color:var(--light-gray);
    margin: 1em 0;
    font-size: 1.5rem;
}
.landing-action{
    margin-top: 0.5em;
}

.landing-image{
    position: absolute;
    top:3rem;
    z-index: 1;
    right: 0rem;
    min-width: 40%;
    max-width: 50%;
}

.nav-arrow{
    position: absolute;
    bottom: 3rem;
    right:48%;
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--purple);
    padding: 1.1em 1.3em;
    border-radius: 50%;
    transition: 0.3s all ease;
    
}
.nav-arrow:hover{
    cursor: pointer;
    border: 1px solid var(--purple);
    transform: translateY(10px) ;
    
}


 /* MOBILE LOOK */

@media screen and (max-width:800px) {
    #landing{
        height: auto;
    }
   
    .landing-content{
        margin: 2rem auto;
        padding: 0 1rem;
        max-width: 100%;
        text-align: center;
        display: block;
        position: initial;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .landing-title h1{
        font-size: 2.5rem;
        width: 100%;
    }
    .landing-title h2{
        font-size: 1.75rem;
    }
    .landing-text{
        font-size: 1.25rem;
    }
   
    .landing-image{
        width:100%;
        padding: 0 6rem;
        margin: 0 auto;
        position: initial;
        max-width: 100%;
    }
    .nav-arrow{
        display: none;
    }
}
@media screen and (max-width:500px){
    .landing-title h1{
        font-size: 2rem;
    }
    .landing-title h2{
        font-size: 1.5rem;
    }
    .landing-text{
        font-size: 1rem;
    }
    .landing-image{
        padding:0rem 4rem;
    }
}
