#our-approach{
    text-align: center;
    margin: 6rem 0 4rem 0;
}

.card-list{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#our-approach .section__text{
    margin: 2rem auto;
    max-width: 60%;
}

@media screen and (max-width: 1024px) {
    #our-approach{
        margin: 2rem 0 2rem 0;
    }

    #our-approach .section__text{
        margin: 1rem auto;
        max-width: 60%;
    }
}

@media screen and (max-width: 1024px) {
    #our-approach{
        margin: 3rem 0 3rem 0;
    }
}