#peace-to-your{
    height: auto;
    width: 100%;
    margin-bottom: 5rem;
}
.section-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section-image{
    max-width: 50%;
    order:1;
}
.section-content{
    max-width: 50%;
    padding: 2rem;
    order:2;
}

.section-subtitle{
    font-size: 1.75rem;
    color: var(--dark);
}

.line{
    margin: 2rem 0;
}

.instructor-description{
    color:var(--light-gray);
    font-size: 1.25rem;
}

.yoga-advantages{
    list-style: none;
    margin: 2rem 0;
}
.yoga-advantage{
    display: flex;
    margin:1.5rem 0;
    align-items: center;
}
.advantage-icon{
    max-width: 5rem;
}
.advantage-content{
    margin: 1rem 1.5rem;
    text-align: center;
}
.advantage-title{
    font-size: 1.250rem;
    color:var(--dark);
}

.advantage-description{
    font-size: .75rem;
}

.peace-btn__wrapper{
    width: 80%;
    margin: auto 0;
}

#peace-to-your .line {
    margin: 1rem 0;
}

#peace-to-your .section__text {
    text-align: justify;
}

/* MOBILE LOOK */
@media screen and (max-width:1024px){
    .section-content {
        padding: 1rem;
    }

    #peace-to-your .line {
        margin: 0.625rem 0;
    }

    .advantage-icon {
        max-width: 4rem;
    }

    .advantage-title{
        font-size: 1.125rem;
    }

    .yoga-advantages {
        margin: 1.250rem 0 2rem 0;
    }

    .yoga-advantage{
        margin: 0.75rem 0;
    }
}

@media screen and (max-width:800px) {
    #peace-to-your{
        height: auto;
        width: 100%;
        margin-bottom: 4rem;
    }
    .section-wrapper{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .section-content{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order:1;
    }
    #peace-to-your .section__text{
        max-width: 550px;
        text-align: center;
    }
    .section-image{
        max-width: 100%;
        padding: 0 6rem;
        order: 2;
    }
    .section-subtitle{
        text-align: center;
        font-size: 1.25rem;
    }
    .instructor-description{
        text-align: center;
        font-size: .75rem;
    }
    .yoga-advantage{
        justify-content: center;
        margin: 0.75rem 0;
    }
    .advantage-icon{
        max-width: 4rem;
    }
    .advantage-title{
        font-size: 1.5rem;
    }
    .advantage-description{
        font-size: 1rem;
    }
    .advantage-title{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .section-image{
        padding: 0 4rem;
    }
}

@media screen and (max-width: 375px) {
    .section-image{
        padding: 0 3.5rem;
    }

    .section-subtitle{
        text-align: center;
        font-size: 1.125rem;
    }
}