.parameters__box{
    width: 49.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #B5A9F2;;
    margin-top: 0.8%;
}