.workout__list--box{
    width: 20%;
}

.workout__list--title{
    color: var(--light-gray);
    font-size: 1.250rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.workout__list{
    margin-top: 1rem;
    list-style-type: none;
}

.workout__list--element{
    display: flex;
    align-items: center;
    padding: 1rem 0.750rem;
    margin-bottom: 0.5rem;
    border-radius: 0.375rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms ease;
}

.list__element--name{
    color: var(--background);
    margin-left: 0.5rem;
}

.list__element--number{
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    color: var(--background);
    background-color: black;
    border-radius: 50%;
}

/* .workout__list--element:nth-child(odd) .list__element--number{
    background-color: #b2b2b2;
}

.workout__list--element:nth-child(even) .list__element--number{
    background-color: #607D8B;
} */

.workout__list--element:hover{
    opacity: 0.8;
}

.workout__list--element:nth-child(even){
    background-color: #b2b2b2;
}

.workout__list--element:nth-child(odd){
    background-color: #607D8B;
}

.workout__list--button{
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.125rem;
    border-radius: 0.375rem;
    padding: 0.875rem 0.750rem;
    display: block;
    text-decoration: none;
    color: var(--background);
    background-color: var(--purple);
    transition: all 300ms ease;
}

.workout__list--button:hover{
    transform: scale(1.02);
}

.workout__list--button:active,
.workout__list--button:focus{
    transform: scale(0.7);
}