
.our-location__wrapper{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.our-location__wrapper .section__title{
    font-size: 2.375rem;
}
.our-location__wrapper .section__text{
    margin: 1.5rem 0;
    text-align: justify;
}
.our-location__boxes{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
}
.social-media__wrapper{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.box__title{
    font-size: 1.5rem;
    letter-spacing: 0.75px;
    margin-bottom: 1rem;
    position: relative;
}
.box__title::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    bottom: -6px;
    left: 0;
    background-color: var(--purple);
}
.box__info{
    font-size: 1rem;
    color: var(--light-gray);
}
.social-icon{
    color: var(--purple);
    font-size: 1.5rem;
}
.social-icon:hover{
    cursor:not-allowed;
}
.opening-hours__box{
    display: flex;
    flex-direction: column;
    margin-bottom: 14%;
}

@media screen and (max-width: 1200px) {
    .our-location__wrapper{
        width: 50%;
    }
    .our-location__wrapper .section__title{
        font-size: 2.250rem;
    }
}

/*Mobile look*/
@media screen and (max-width:1024px) {
    .box__title{
        font-size: 1.1rem;
    }
    .box__info{
        font-size: .9rem;
    }

    .our-location__wrapper{
        width: 48%;
    }

    .our-location__wrapper .section__title{
        font-size: 1.875rem;
    }
}

@media screen and (max-width:950px) {
    .our-location__wrapper .section__title{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:800px) {
    .our-location__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .our-location__wrapper .section__title{
        text-align: center;
    }
    .our-location__wrapper .section__text{
        text-align: center;
        width: 80%;
        margin: 1rem auto;
    }
    .our-address__box,
    .opening-hours__box{
        margin: 1rem 0;
    }
    .our-address__box,
    .opening-hours__box,
    .contact__box,
    .social-media__box{
        width: 100%;
        max-width: 160px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .our-location__boxes{
        justify-items: center;
        align-items: center;
    }
    .box__info{
        font-size: .8rem;
    }
    .social-icon{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:500px){
    .our-location__boxes{
        grid-template-rows: .5fr;
        
    }
    .box__title{
        font-size: .9rem;
    }
    .box__info{
        font-size: .8rem;
    }
    .social-icon{
        font-size: .9rem;
    }
}

@media screen and (max-width:340px) {
    .box__title{
        font-size: .7rem;
    }
    .box__title::after{
        height: 3px;
        width: 30px;
    }
    .box__info{
        font-size: .6rem;
    }
}